.factory-image-container {
    width: 352px;
    height: 528px;
    position: relative;
    overflow: hidden;
    border-radius: 222px 222px 222px 222px;
  }
  
  .factory-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .text-overlay h1 {
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  }
  
  .text-overlay h1 span {
    letter-spacing: 2px;
  }
  
  
  /* General Layout */
.relative {
  position: relative;
}

.box {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.icon-button img {
  width: 50%;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}

.description {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 4px;
  color: #333;
  max-width: 80%;
}

.container-md {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column !important;
  }
  .box {
    width: 100% !important;
    margin-bottom: 20px;
  }
}

